.filter-button {
  border: 1px solid #4cd5a7;
  border-radius: 2px;
  padding: 10px;
  font-family: "Bentham", serif;
  font-weight: 500;
  font-size: 16px;
  color: #2f7d63;

  &:hover {
    background-color: #4cd5a718;
  }
}

.outlined {
  background-color: #f5f5dc;
}

.contained {
  background-color: #3ca280;
}

@media (max-width: 768px) {
  .filter-button {
    padding: 8px;
  }
}