.checkbox-component {
  width: 24px;
  height: 24px;
  margin: 4px;
  text-align: center;

  .li-checkbox {
    width: 22px;
    height: 22px;
    accent-color: #3ca280;
    box-shadow: inset 0 0 5px hsla(160, 46%, 30%, 0.3);
    outline: 1px solid #3ca280;
    appearance: none;
    cursor: pointer;

    &:checked {
      background-color: #3ca280ab;
      display: none;

      ~ .checkbox-img {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border: 1px solid #3ca280;
        box-shadow: inset 0 0 5px hsla(160, 46%, 30%, 0.3);
        cursor: pointer;
        margin: 2px 2px 2px 3px;

        .img {
          width: 22px;
          object-fit: contain;
        }
      }
    }
  }
}