.list-item {
    user-select: none;
    list-style-type: none;
    border-bottom: 1px solid #4cd5a7;
     box-shadow: 0px 6px 8px rgba(28, 82, 62, 0.3);
}

.li-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.edited {

    .li-text {
        display: none;
    }
}