.list-item {
    user-select: none;
    list-style-type: none;
    border-bottom: 1px solid #4cd5a7;
    box-shadow: 0px 6px 8px rgba(28, 82, 62, 0.3);
    padding: 8px;
}

.edited {

    .li-text {
        display: none;
    }
}



.li-components {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-info {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        width: 80%;

        .checkbox-component {
            width: 24px;
            height: 24px;
            margin: 4px;
            text-align: center;

            .li-checkbox {
                width: 22px;
                height: 22px;
                accent-color: #3ca280;
                box-shadow: inset 0 0 5px hsla(160, 46%, 30%, 0.3);
                outline: 1px solid #3ca280;
                appearance: none;
                cursor: pointer;

                .checkbox-img {
                    display: none;
                }

                &:checked {
                    background-color: #3ca280ab;
                    display: none;

                    ~.checkbox-img {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #3ca280;
                        box-shadow: inset 0 0 5px hsla(160, 46%, 30%, 0.3);
                        cursor: pointer;
                        margin: 2px 2px 2px 3px;

                        .img {
                            width: 22px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }

        .li-text-component {
            max-width: 100%;

            .li-text {
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: "Bentham", serif;
                font-weight: 500;
                font-size: 18px;
                margin: 0 0 0 10px;
            }
        }
    }

    .button-component {
        .delete-button {
            width: 36px;
            height: 36px;
            border: 1px solid transparent;
            cursor: pointer;
            margin-left: 10px;


            img {
                width: 100%;
                object-fit: contain;
            }

            &:hover {
                border: 1px solid #3ca280;
            }
        }
    }
}