.todo-checkbox {
  width: 22px;
  height: 22px;
  box-shadow: inset 0 0 5px hsla(160, 46%, 30%, 0.3);
  outline: 1px solid #3ca280;
  appearance: none;
  cursor: pointer;
  }

.todo-checkbox--checked {
  width: 24px;
  height: 24px;
  border: 1px solid #3ca280;
  cursor: pointer;
  margin: 2px 2px 2px 3px;

  .check-mark {
    width: 22px;
    height: 22px;
  }
}
