.delete-button {
  width: 36px;
  height: 36px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-left: 10px;


  &-img {
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    border: 1px solid #3ca280;
  }
}