.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.header {
    margin: 40px 0;
    color: #2f7d63;
}

.main {
    margin-bottom: 40px;
    color: #2f7d63;

    .adding-input-container {
        padding: 16px;
    }

    .filters {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        gap: 10px;
    }
}