.footer {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 10px;
    }
}