.list-item {
  user-select: none;
  list-style-type: none;
  border-bottom: 1px solid #4cd5a7;
  box-shadow: 0px 6px 8px rgba(28, 82, 62, 0.3);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.list-item-info {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  max-width: 690px;
  width: 90%;

  .item-info-text {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Bentham", serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0 10px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .list-item-info {
    width: 80%;
  }

  .item-info-text {
    width: 90%;
  }
}