.list-item {
  user-select: none;
  list-style-type: none;
  border-bottom: 1px solid #4cd5a7;
  box-shadow: 0px 6px 8px rgba(28, 82, 62, 0.3);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.li-components-info {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  max-width: 690px;
  width: 90%;

  .li-text {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Bentham", serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0 10px;
    width: 90%;
  }
}

.delete-button {
  width: 36px;
  height: 36px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-left: 10px;


  img {
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    border: 1px solid #3ca280;
  }
}

@media (max-width: 768px) {
  .li-components-info {
    width: 80%;
  }

  .li-text {
    width: 90%;
  }
}