.adding-input {
    width: 100%;
    padding: 10px;
    font-family: "Bentham", serif;
    font-weight: 300;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    outline-style: none;
    outline: rgba(77, 214, 168, 0.1) solid 1px;
    background-color: transparent;
    box-shadow: 2px 2px 4px rgba(77, 214, 168, 0.1),
        2px 2px 8px rgba(28, 82, 62, 0.3);
    padding-left: 50px;
}

.arrow-down-button {
    position: absolute;
    border: 1px solid #4dd6a81a;
    border-radius: 2px;
    padding: 8px;
    font-family: "Bentham", serif;
    font-weight: 500;
    font-size: 16px;
    color: #2f7d63;
    line-height: 0;
    box-shadow: 2px 2px 4px rgba(77, 214, 168, 0.1),
        2px 2px 8px rgba(28, 82, 62, 0.3);
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}