@import url(
'https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap'
);
* {
    box-sizing: border-box;
    background-color: #f5f5dc;
}

body {
    font-family:  "Red Rose", serif;
    font-weight: 500;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}
